<%- include("./partials/header.ejs") %>

<h2>Create New Dashboard</h2>

<form action="/dashboards/create" method="POST" enctype="multipart/form-data">

  <!-- Title -->
  <label class="form-label" style="color:white;">Title:</label>
  <input type="text" name="title" placeholder="Airbending, Fire Magic, etc." class="form-control mb-3">

  <!-- Description -->
  <label class="form-label" style="color:white;">Description:</label>
  <textarea name="description" class="form-control mb-3" rows="4" placeholder="Short description..."></textarea>

  <!-- Images -->
  <label class="form-label" style="color:white;">Images:</label>
  <input type="file" name="images" multiple class="form-control mb-3">

  <!-- Tags -->
  <label class="form-label" style="color:white;">Tags (comma separated):</label>
  <input type="text" name="tags" placeholder="wind, air, nature" class="form-control mb-3">

  <!-- Abilities -->
  <label class="form-label" style="color:white;">Abilities (comma separated):</label>
  <input type="text" name="abilities" placeholder="gust, flight, slicing wind" class="form-control mb-3">

  <!-- Colors -->
  <label class="form-label" style="color:white;">Colors (comma separated hex or rgb):</label>
  <input type="text" name="colors" placeholder="#66f, #88c, #aaf" class="form-control mb-3">

  <button class="btn btn-success">Create Dashboard</button>

</form>

<%- include("./partials/footer.ejs") %>
