<%- include("./partials/header.ejs") %>

<div class="d-flex justify-content-center">
  <div class="home-aura-wrapper text-center mt-5">

    <!-- Aura Glow -->
    <div class="home-aura-circle"></div>

    <!-- Book -->
    <img src="/images/closed-book.png" class="home-book-image" alt="Closed Codex">

    <!-- Title & Description -->


    <h1 class="home-title mt-3 fw-bold">THE POWER CODEX</h1>

    <p class="home-description">
     A creative dashboard for organizing and developing ideas including,
    abilities, artifacts, powers, lore entries, images, colors, and more — all in one unified Codex.
    </p>



    </p>

  </div>
</div>

<%- include("./partials/footer.ejs") %>
