<%- include("./partials/header.ejs") %>

<div class="text-center mt-5">

  <img src="/images/closed-book.png" alt="Closed Codex" style="height:130px;">

  <h1 class="mt-3 fw-bold">The Power Codex</h1>

  <p>
    <a href="/auth/login" class="me-2">Login</a> 
    |
    <a href="/auth/register" class="ms-2">Register</a>
  </p>

</div>

<%- include("./partials/footer.ejs") %>
